{% extends "base.html" %} {% block title %}Color Mapping{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Color Mapping</h3>
  <div class="form-group">
    <label for="0">Happy</label>
    <select name="0" id="happy">
      <option value="red">red</option>
      <option value="green">green</option>
      <option value="blue">blue</option>
      <option value="yellow">yellow</option>
    </select>
  </div>
  <div class="form-group">
    <label for="sad">Sad</label>
    <select name="1" id="sad">
      <option value="red">red</option>
      <option value="green">green</option>
      <option value="blue">blue</option>
      <option value="yellow">yellow</option>
    </select>
  </div>
  <div class="form-group">
    <label for="energetic">Energetic</label>
    <select name="2" id="energetic">
      <option value="red">red</option>
      <option value="green">green</option>
      <option value="blue">blue</option>
      <option value="yellow">yellow</option>
    </select>
  </div>
  <div class="form-group">
    <label for="angry">Angry</label>
    <select name="4" id="saenergeticd">
      <option value="red">red</option>
      <option value="green">green</option>
      <option value="blue">blue</option>
      <option value="yellow">yellow</option>
    </select>
  </div>
  <div class="form-group">
    <label for="classy">Classy</label>
    <select name="5" id="saenergeticd">
      <option value="red">red</option>
      <option value="green">green</option>
      <option value="blue">blue</option>
      <option value="yellow">yellow</option>
    </select>
  </div>
  <div class="form-group">
    <label for="calm">Calm</label>
    <select name="3" id="calm">
      <option value="red">red</option>
      <option value="green">green</option>
      <option value="blue">blue</option>
      <option value="yellow">yellow</option>
    </select>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
